<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Test application for credentials-support</title>
</head>
<body>
  <h1>Test application for credentials-support</h1>
  <p>
    This simple test application is used to test the <b>credentials-support</b> library together with SoftHSM.
  </p>
  <div>
    <div th:each="r : ${result}">
      <div>
        <hr />
        <p><b><span th:text="${r.title}">Title</span></b></p>
        <dl th:each="a : ${r.actions}">
          <dt th:text="${a.operation}">Operation</dt>
          <dd th:text="${a.result}">Result</dd>
        </dl>
      </div>
    </div>
    
  </div>
</body>
</html>